@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Reset Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 2rem 1rem;
}

.logo, .season-cover, .360-YT, .WTM, .Social, .Newsletter {
    display: block;
    max-width: 90%; /* Adjust to your preference */
    height: auto;
    margin: 2rem auto;
}

.centered-text {
    text-align: center;
    width: 100%;
}

section {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #003366;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 2rem; /* Increase as needed */
}

h2 {
    font-size: 1.5rem; /* Increase as needed */
    color: #003366;
    margin-bottom: 1rem;
}

p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 1.2rem; /* Increase as needed */
}

a {
    color: #1c95c5;
    text-decoration: none;
    font-size: 1.2rem; /* Increase as needed */
}

a:hover {
    color: #003366;
}

button {
    background-color: #1c95c5;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem; /* Increase as needed */
    font-weight: 700;
}

button:hover {
    background-color: #003366;
}

#stay-connected ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#stay-connected ul li {
    display: inline-block;
    margin: 0.5rem;
}

#stay-connected ul li a {
    background-color: #1c95c5;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#stay-connected ul li a:hover {
    background-color: #003366;
}

.newsletter-signup {
    background-color: #fff;
    padding: 3rem;
    margin: 2rem auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.newsletter-signup h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.newsletter-signup p {
    margin-bottom: 2rem;
}

.newsletter-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: .5rem;
}

.form-group input[type=email] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 1rem;
}

#calendar iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    h1, h2,
