@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Reset Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h3 {
    margin-top: 0.5em;
    font-weight: normal;
    color: #666;
}

main {
    max-width: 1200px;
    margin: 2rem auto; /* This adds space above and below the main content area */
    padding: 0 2rem; /* This adds padding on the left and right sides */
}

main > section:first-of-type {
    margin-top: 4rem; /* This increases the space above the first section by an additional 2rem */
}

section {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #003366;
    margin-bottom: 1rem;
    font-size: 1.75em;
}

p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 1.1em;
}

a {
    color: #1c95c5;
    text-decoration: none;
    font-size: 1.1em;
}

a:hover {
    color: #003366;
}

button {
    background-color: #1c95c5;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 700;
}

button:hover {
    background-color: #003366;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust the space between the icons as needed */
}

.social-icons img {
    width: 50px; /* Adjust the size of the icons as needed */
    height: auto;
}

.newsletter-signup, .social-icons {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

#calendar iframe {
    width: 100%; /* Make the calendar take full width of its container */
    height: 600px; /* Set a fixed height for the calendar */
    border: 0;
    border-radius: 8px;
}

footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .social-icons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .social-icons img {
        width: 40px; /* Smaller icons for mobile */
    }

    .newsletter-signup {
        padding: 1rem;
    }

    #calendar iframe {
        height: auto; /* Let the calendar height be automatic to maintain aspect ratio */
    }
}
