@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Reset Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #ffffff; /* Light background for header */
    text-align: center;
    padding: 2rem;
}

.logo {
    max-width: 150px;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

#about-the-show, #listen, #subscribe, #follow, #calendar {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.season-cover {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


h1, h2 {
    color: #003366; /* A dark blue shade from your branding */
}

p {
    color: #666; /* A softer shade for readability */
    margin-bottom: 1rem;
}

/* Link Styles */
a {
    color: #1c95c5; /* A vibrant blue from your branding */
    text-decoration: none;
}

a:hover {
    color: #003366; /* Darker blue on hover */
}

/* Button Styles */
button {
    background-color: #1c95c5; /* Use the vibrant blue from your branding */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #003366; /* Darker blue on hover */
}

/* Newsletter Section */
#subscribe {
    background-image: url('path-to-newsletter-background.jpg'); /* A background image if you have one */
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

/* Upcoming Episodes Section */
#calendar {
    padding: 0; /* Remove padding if calendar iframe needs to be full width */
}

/* Footer Styles */
footer {
    background-color: #003366; /* A dark blue shade for the footer */
    color: #ffffff;
    padding: 1rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header, main {
        padding: 1rem;
    }
    
    .logo {
        max-width: 100px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
